#apilist {
  .serach-box {
    width: 100%;
    border: 1px solid #cecece;
    padding: 10px;

    .row {
      margin: 15px 0;
    }

    .remove-icon {
      position:absolute;
      top:9px;
      right:45px;
      z-index:999;
      color:#a94442;
    }
  }
  .api-item-box {
    .api-item {
      &:hover {
        border: 1px solid #cecece;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
      }
      border: 1px solid #eeeeee;
      margin: 10px 0;
      padding: 10px;

      .title {
        .t-l {
          font-size: 20px;
          margin-right: 10px;
        }
        .product-lable {
          margin: 0 5px;
          color: #CC6600;
        }
        .product-tags {
          margin: 0 5px;
        }
        .api-item-op {
          float: right;
          display: inline-block;
        }
      }
      .api-url {
        span {
          color: #CC6600;
        }
      }
      .api-products {
        span {
          border: 1px solid #cecece;
          display: inline-block;
          padding: 2px 4px;
          border-radius: 10px;
        }
      }
      .api-item-bottom {
        div {
          display: inline-block;
        }
      }
    }
  }
}
