#mockPage {
  .tab-content {
    .active {
      display: block;
    }

    .tab-pane {
      .name {
        min-width: 120px;
        display: inline-block;
        text-align: right;
        color: #666;
        padding-right: 4px;
      }

      .remark {
        color: #AAA;
        display: inline-block;
        margin-left: 3px;
        cursor: pointer;

        &:hover {
          .detail {
            display: block;
          }
        }

        .detail {
          display: none;
          position: absolute;
          min-width: 100px;
          margin-top: -25px;
          margin-left: 30px;
          border: 1px solid #CCC;
          background-color: #FFF;
          padding: 4px;
          font-size: 12px;
          border-radius: 3px;

          &:after {
            position: absolute;
            top: 10px;
            left: -4px;
            background-color: #FFF;
            content: '';
            width: 6px;
            height: 6px;
            display: inline-block;
            -webkit-transform: rotateZ(-45deg);
            -moz-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
            border-top: 1px solid #CCC;
            border-left: 1px solid #CCC;
          }
        }
      }
    }
  }
}
