<div ng-include="'../template/_include/nav.html'" class="nav-header"></div>
<div class="container" id="apiInfo">
    <form class="ng-pristine ng-valid api-top">
        <div class="form-group">
            <label for="recipient-name" class="control-label">所属项目:</label>
            <select class="form-control" ng-model="newApiVO.newApi.project" ng-change="setPageData()">
                <option value="">请选择</option>
                <option ng-repeat="project in projectList track by $index" value="{{project._id}}">{{project.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">所属模块:</label>
            <select class="form-control" ng-model="newApiVO.newApi.pageId">
                <option value="">请选择</option>
                <option ng-repeat="page in pageList track by $index" value="{{page._id}}">{{page.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">名称:</label>
            <input type="text" ng-model="newApiVO.newApi.title" class="form-control ng-pristine ng-valid ng-empty ng-touched" id="recipient-name">
        </div>
        <div class="action-info">
            <div class="item clearfix" style="margin-bottom:15px;">
                <label for="recipient-name" class="control-label">产品线:</label>
                <br/>
                <a class="crumb-select-item" title="其它" ng-repeat="pro in newApiVO.newApi.products">
                    <!-- <b>画幅：</b> -->
                    <em>{{pro.name}}</em>
                    <i class="remove-item" ng-click="rmProduct(pro._id)"></i>
                </a>
                <div class="btn-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            {{productVersions.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="product in productList" ng-class="{true: 'dropdown-submenu', false: ''}[product.productVersions.length >0]">
                                <a href="javascript:;">{{product.name}}</a>
                                <ul class="dropdown-menu" ng-if="product.productVersions.length >0">
                                    <li ng-repeat="v in product.productVersions" ng-class="{true: 'disabled', false: ''}[v.exist]"> <a ng-disabled="v.exist" ng-click="productChange(v)">{{v.name}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-xs btn-default" ng-click="addProduct(productVersions)">添加{{version.productVersions[0].name}}</button>
                </div>
            </div>
            <div class="item clearfix" style="margin-bottom:15px;">
                <label for="recipient-name" class="control-label">标签:</label>
                <br/>
                <a class="crumb-select-item" title="其它" ng-repeat="pro in newApiVO.newApi.tags">
                    <!-- <b>画幅：</b> -->
                    <em>{{pro.name}}</em>
                    <i class="remove-item" ng-click="rmTag(pro._id)"></i>
                </a>
                <div class="btn-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            {{tag.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="tag in tagList" ng-class="{true: 'disabled', false: ''}[tag.isExist]">
                                <a ng-disabled="tag.isExist" ng-click="tagChange(tag)" href="javascript:;">{{tag.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-xs btn-default" ng-class="{true: 'disabled', false: ''}[tag.isExist]" ng-click="addTag(tag)">添加</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">请求类型:</label>
            <div class="radio-list clearfix" id="recipient-name">
                <input type="radio" id="editAFloater-type-1" name="editAFloater-type" ng-model="newApiVO.newApi.method" value="get" ng-checked="newApiVO.newApi.method == 'get'" class="ng-pristine ng-untouched ng-valid ng-empty">
                <label for="editAFloater-type-1">GET</label>
                <input type="radio" id="editAFloater-type-2" name="editAFloater-type" ng-model="newApiVO.newApi.method" value="post" ng-checked="newApiVO.newApi.method == 'post'" class="ng-pristine ng-untouched ng-valid ng-empty">
                <label for="editAFloater-type-2">POST</label>
                <input type="radio" id="editAFloater-type-3" name="editAFloater-type" ng-model="newApiVO.newApi.method" value="put" ng-checked="newApiVO.newApi.method == 'put'" class="ng-pristine ng-untouched ng-valid ng-empty">
                <label for="editAFloater-type-3">PUT</label>
                <input type="radio" id="editAFloater-type-4" name="editAFloater-type" ng-model="newApiVO.newApi.method" value="delete" ng-checked="newApiVO.newApi.method == 'delete'" class="ng-pristine ng-untouched ng-valid ng-empty">
                <label for="editAFloater-type-4">DELETE</label>
            </div>
        </div>
        <div class="form-group" ng-init="newApiVO.newApi.protocol = 'https'">
            <label for="recipient-name" class="control-label">网络协议类型:</label>
            <div class="radio-list clearfix" id="recipient-name">
                <input type="radio" id="protocol-type-1" name="protocol-type" ng-model="newApiVO.newApi.protocol" value="http" ng-checked="newApiVO.newApi.protocol == 'http'" class="ng-pristine ng-untouched ng-valid ng-empty">
                <label for="protocol-type-1">HTTP</label>
                <input type="radio" id="protocol-type-2" name="protocol-type" ng-model="newApiVO.newApi.protocol" value="https" ng-checked="newApiVO.newApi.protocol == 'https'" class="ng-pristine ng-untouched ng-valid ng-empty">
                <label for="protocol-type-2">HTTPS</label>
            </div>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">请求链接:</label>
            <input type="text" ng-model="newApiVO.newApi.url" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="recipient-name">
        </div>
        <div class="form-group">
            <label for="message-text" class="control-label">说明:</label>
            <textarea class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="newApiVO.newApi.description" id="message-text"></textarea>
        </div>
        <div class="param-item">
            <h3>请求参数列表<button class="btn btn-info btn-xs margin15" ng-click="addParam('reqParam')">添加参数</button><button class="btn btn-danger btn-xs" ng-click="importJson('reqParam')">导入json</button></h3>
            <table class="table table-striped">
                <tbody>
                    <tr class="head">
                        <td class="head-expander"></td>
                        <td class="head-identifier">变量名</td>
                        <td class="head-name">含义</td>
                        <td class="head-type">类型</td>
                        <td class="head-remark">备注</td>
                    </tr>
                    <tr class="tr-param" ng-repeat="rp in newApiVO.paramViewModel.requestParameter track by $index">
                        <td class="expander">
                            <div class="div-op-container">
                                <a ng-click="removeParam(rp.id, 'reqParam')"><i class="glyphicon glyphicon-remove"></i></a>
                                <!-- <a ng-click="addParam('child', rp.id)"><i class="glyphicon glyphicon-plus"></i></a> -->
                            </div>
                        </td>
                        <td class="td-param identifier" style="padding-left:{{rp.pNum*14+1}}px;width: 25%;">
                            <input type="text" ng-model="rp.identifier">
                        </td>
                        <td class="td-param name">
                            <input type="text" ng-model="rp.name">
                        </td>
                        <td class="td-param dataType">
                            <select id="select-dataType-768521" class="select-dataType" ng-model="rp.dataType" ng-selected="rp.dataType">
                                <option value=""></option>
                                <option value="number">number</option>
                                <option value="string">string</option>
                                <option value="boolean">boolean</option>
                            </select>
                        </td>
                        <td class="td-param remark">
                            <input type="text" ng-model="rp.remark">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="param-item">
            <h3>请求数据列表<button class="btn btn-info btn-xs margin15" ng-click="addParam('reqData')">添加参数</button><button class="btn btn-danger btn-xs" ng-click="importJson('reqData')" ng-if="newApiVO.newApi.requestDataType =='raw'">导入json</button></h3>
            <div class="RadioGroup">
                &nbsp;&nbsp;&nbsp;
                <label class="radio-inline">
                    <input type="radio" name="type" value="form-data" ng-checked="newApiVO.newApi.requestDataType =='form-data'" ng-model="newApiVO.newApi.requestDataType"> form-data
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" value="x-www-from-urlencoded" ng-checked="newApiVO.newApi.requestDataType =='x-www-from-urlencoded'" ng-model="newApiVO.newApi.requestDataType"> x-www-from-urlencoded
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" value="raw" ng-checked="newApiVO.newApi.requestDataType =='raw'" ng-model="newApiVO.newApi.requestDataType"> raw
                </label>
            </div>
            <table class="table">
                <tbody>
                    <tr class="head">
                        <td class="head-expander"></td>
                        <td class="head-identifier">变量名</td>
                        <td class="head-name">含义</td>
                        <td class="head-type">类型</td>
                        <td class="head-remark">备注</td>
                    </tr>
                    <tr class="tr-param" ng-repeat="rp in newApiVO.paramViewModel.requestData track by $index">
                        <td class="expander">
                            <div class="div-op-container">
                                <a ng-click="removeParam(rp.id, 'reqData')"><i class="glyphicon glyphicon-remove"></i></a>
                                <a ng-if="rp.dataType=='object' || rp.dataType=='array<object>' || rp.dataType=='array<number>' || rp.dataType=='array<string>' || rp.dataType=='array<boolean>'" ng-click="addParam('child', rp.id, 'reqData')"><i class="glyphicon glyphicon-plus"></i></a>
                            </div>
                        </td>
                        <td class="td-param identifier" style="padding-left:{{rp.pNum*14+1}}px;width: 25%;">
                            <input type="text" ng-model="rp.identifier">
                        </td>
                        <td class="td-param name">
                            <input type="text" ng-model="rp.name">
                        </td>
                        <td class="td-param dataType">
                            <select id="select-dataType-768521" class="select-dataType" ng-model="rp.dataType" ng-selected="rp.dataType">
                                <option value=""></option>
                                <option value="number">number</option>
                                <option value="string">string</option>
                                <option value="object" selected="true">object</option>
                                <option value="boolean">boolean</option>
                                <option value="array<number>">array&lt;number&gt;</option>
                                <option value="array<string>">array&lt;string&gt;</option>
                                <option value="array<object>">array&lt;object&gt;</option>
                                <option value="array<boolean>">array&lt;boolean&gt;</option>
                                <option value="array">array</option>
                            </select>
                        </td>
                        <td class="td-param remark">
                            <input type="text" ng-model="rp.remark"> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="param-item">
            <h3>响应参数列表<button class="btn btn-info btn-xs margin15" ng-click="addParam('resData')">添加参数</button><button class="btn btn-danger btn-xs" ng-click="importJson('resData')">导入json</button></h3>
            <table class="table">
                <tbody>
                    <tr class="head">
                        <td class="head-expander"></td>
                        <td class="head-identifier">变量名</td>
                        <td class="head-name">含义</td>
                        <td class="head-type">类型</td>
                        <td class="head-remark">备注</td>
                    </tr>
                    <tr class="tr-param" ng-repeat="rp in newApiVO.paramViewModel.responseData track by $index">
                        <td class="expander">
                            <div class="div-op-container">
                                <a ng-click="removeParam(rp.id, 'resData')"><i class="glyphicon glyphicon-remove"></i></a>
                                <a ng-if="rp.dataType=='object' || rp.dataType=='array<object>' || rp.dataType=='array<number>' || rp.dataType=='array<string>' || rp.dataType=='array<boolean>'" ng-click="addParam('child', rp.id, 'resData')"><i class="glyphicon glyphicon-plus"></i></a>
                            </div>
                        </td>
                        <td class="td-param identifier" style="padding-left:{{rp.pNum*14+1}}px;width: 25%;">
                            <input type="text" ng-model="rp.identifier">
                        </td>
                        <td class="td-param name">
                            <input type="text" ng-model="rp.name">
                        </td>
                        <td class="td-param dataType">
                            <select id="select-dataType-768521" class="select-dataType" ng-model="rp.dataType" ng-selected="rp.dataType">
                                <option value=""></option>
                                <option value="number">number</option>
                                <option value="string">string</option>
                                <option value="object" selected="true">object</option>
                                <option value="boolean">boolean</option>
                                <option value="array<number>">array&lt;number&gt;</option>
                                <option value="array<string>">array&lt;string&gt;</option>
                                <option value="array<object>">array&lt;object&gt;</option>
                                <option value="array<boolean>">array&lt;boolean&gt;</option>
                                <option value="array">array</option>
                            </select>
                        </td>
                        <td class="td-param remark">
                            <input type="text" ng-model="rp.remark">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="param-item">
            <h3>请求头<button class="btn btn-info btn-xs margin15" ng-click="addParam('reqHeader')">添加参数</button><button class="btn btn-danger btn-xs" ng-click="importJson('reqHeader')">导入json</button></h3>
            <table class="table">
                <tbody>
                    <tr class="head">
                        <td class="head-expander"></td>
                        <td class="head-identifier">变量名</td>
                        <td class="head-name">含义</td>
                        <td class="head-type">类型</td>
                        <td class="head-remark">备注</td>
                    </tr>
                    <tr class="tr-param" ng-repeat="rp in newApiVO.paramViewModel.requestHeader track by $index">
                        <td class="expander">
                            <div class="div-op-container">
                                <a ng-click="removeParam(rp.id, 'reqHeader')"><i class="glyphicon glyphicon-remove"></i></a>
                                <!-- <a ng-click="addParam('child', rp.id)"><i class="glyphicon glyphicon-plus"></i></a> -->
                            </div>
                        </td>
                        <td class="td-param identifier" style="padding-left:{{rp.parentsIdList.length*14+1}}px;width: 25%;">
                            <input type="text" ng-model="rp.identifier">
                        </td>
                        <td class="td-param name">
                            <input type="text" ng-model="rp.name">
                        </td>
                        <td class="td-param dataType">
                            <select id="select-dataType-768521" class="select-dataType" ng-model="rp.dataType" ng-selected="rp.dataType">
                                <option value=""></option>
                                <option value="number">number</option>
                                <option value="string">string</option>
                                <option value="boolean">boolean</option>
                            </select>
                        </td>
                        <td class="td-param remark">
                            <input type="text" ng-model="rp.remark">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group" style="margin-bottom:60px;"> 
            <button type="button" ng-click="addApi();" class="btn btn-primary">保存接口</button>
        </div>
    </form>
    <div id="modal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">添加项目</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="message-text" class="control-label">说明:</label>
                            <textarea class="form-control" style="height: 500px;" ng-model="reqHeadJson" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="doImportJSON()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
