<div ng-include="'../template/_include/nav.html'" class="nav-header"></div>
<div class="container" id="productPage">
    <div class="serach-box">
        <div class="row">
            <div class="col-lg-2">
                <div class="input-group">
                    <span class="input-group-addon">请求路径</span>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <span class="input-group-addon">接口名称</span>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <span class="input-group-addon">标签</span>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <span class="input-group-addon">
                      <input type="checkbox">
                    </span>
                    <label>我订阅的</label>
                </div>
            </div>
        </div>
    </div>
    <div class="api-item-box">
        <div class="api-item">
        </div>
    </div>
</div>
