<div ng-include="'../template/_include/nav.html'" class="nav-header"></div>
<div class="container">
    <div class="add-area">
      <button type="button" ng-click="openModal()" class="btn btn-primary">添加</button>
    </div>
    <table class="table table-bordered" >
      <thead>
        <tr>
          <th>用户名</th>
          <th>email</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in userList track by $index">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td><a ng-click="delete($index,user._id)">删除</a></td>
        </tr>
      </tbody>
    </table>

    <div class="pagination pagination-small" id="pager" ng-if="page.totalPage != 0">
            <ul class="pagination pagination-sm">
                <li ng-click="changePage(1)" ng-class="{'disabled':page.currPage == 1}"><a>首页</a></li>
                <li ng-click="changePage(page.currPage - 1)" ng-class="{'disabled':page.currPage == 1}"><a>上一页</a></li>
                <li ng-click="changePage(showPage)" ng-class="{'active':showPage == page.currPage}" class="pageno" ng-repeat="showPage in page.showPages track by $index"><a>{{showPage}}</a></li>
                <li ng-click="changePage(page.currPage + 1)" ng-class="{'disabled':page.currPage == page.totalPage}"><a>下一页</a></li>
                <li ng-click="changePage(page.totalPage)" ng-class="{'disabled':page.currPage == page.totalPage}"><a>末页</a></li>
                <li style="margin-top:3px;" class="disabled"><a>共{{page.totalPage}}页</a></li>
            </ul>
        </div>

    <div id="modal1" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">添加用户</h4>
      </div>
      <form name="newUser_form" novalidate ng-submit="addUser()">
      <div class="modal-body">
        
          <div class="form-group">
            <label for="recipient-name" class="control-label">用户名:</label>
             <input type="text" name="name" ng-class="{'error':(newUser_form.name.$invalid && submitted)}" ng-model="newUser.name" dvalue="{{newUser.name}}" dname="user" class="form-control" unique required>
          </div>
          <div class="error" ng-show="(newUser_form.name.$dirty || newUser_form.name.$invalid ) && submitted">
                        <small class="error" ng-show="newUser_form.name.$error.required">
                        用户名必填
                    </small>
                        <small class="error" ng-show="newUser_form.name.$error.unique">该用户名已经存在</small>
                    </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label">email:</label>

            <input type="email" name="email" ng-class="{'error':(newUser_form.email.$invalid && submitted)}" ng-model="newUser.email" dvalue="{{newUser.email}}" dname="uemail" 
            class="form-control"   unique required/>

            
          </div> 
           <div class="error" ng-show="(newUser_form.email.$dirty || newUser_form.email.$invalid ) && submitted">
                        <small class="error" ng-show="newUser_form.email.$error.required">
                        email必填
                    </small>
                        <small class="error" ng-show="newUser_form.email.$error.unique">该email已经存在</small>
                        <small class="error" ng-show="newUser_form.email.$error.email">邮箱格式不正确</small>
                    </div>
          <div class="form-group">
            <label for="message-text" class="control-label">密码:</label>
             <input type="password" name="password" ng-class="{'error':(newUser_form.password.$invalid && submitted)}" ng-model="newUser.password" dvalue="{{newUser.password}}" dname="user" class="form-control" required>
          </div>

            <div class="error" ng-show="(newUser_form.password.$dirty || newUser_form.password.$invalid ) && submitted">
                        <small class="error" ng-show="newUser_form.password.$error.required">
                        密码必填
                    </small>
                    </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary" ng-disabled="loading">
                        <span class="glyphicon glyphicon-floppy-disk" ng-class="{'glyphicon-floppy-disk': !loading, 'glyphicon-refresh': loading,'glyphicon-refresh-animate': loading}"></span>保存
                    </button>
      </div>
      </form>
    </div>
</div>
